@media only screen and (max-width: 991px) and (min-width: 768px)
.navbar.navbar-collapse .navbar-container {
    background-color: #d19123;
}

.navbar-default {
  background-color: #d19123;
  border-color: #d19123;
}

.navbar .navbar-toggle {
    background-color: #d19123;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

