.navbar-default {
  background-color: #05ab78;
  border-color: #05ab78;
}

.navbar .navbar-toggle {
    background-color: #05ab78;
}

/* ESPECIFICO DO TEMPLATE */

.ace-nav>li.light-blue>a {
    background-color: #05ab78;
}

.ace-nav>li.light-blue>a:hover, .ace-nav>li.light-blue>a:focus, .ace-nav>li.open.light-blue>a {
    background-color: #05ab78;
}

